Body {
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    color: #121213;
    font-size: 14px;
    line-height: 20px;
    font-family: "Dosis", sans-serif;
}
.banner {
    position: relative;
    height: 85vh;
    padding-right: 5%;
    padding-left: 5%;
    background-color: #c1c3cc;
    background-image: linear-gradient(
        76deg,
        rgba(193, 195, 204, 0.83) 35%,
        rgba(193, 195, 204, 0.28) 65%
      ),
      url("https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg");
    background-position: 0px 0px, 50% 0%;
    background-size: cover;
    background-attachment: fixed;
}
.navigation {
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    position: absolute;
    width: 90%;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu-bar {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-left: auto;
}
  
.nav-link {
    padding: 31px 14px;
    color: #414147;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    /* display: inline-block; */
    transition: 0.2s;
}
.nav-link::before {
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    right: -4%;
    width: 1px;
    height: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #e47312;
    transition: 0.2s;
    background-color: #e47312;
}
.nav-link::after {
    content: "";
    position: absolute;
    left: 0%;
    right: -4%;
    bottom: 0%;
    width: 1px;
    height: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #e47312;
    transition: 0.2s;
}
.nav-link:hover {
    color: #e47312;
}
.nav-link:hover::before {
    height: 30px;
}
.nav-link:hover::after {
    height: 30px;
}
.brand {
    position: absolute;
    width: 90px;
    height: 110px;
    padding-right: 35px;
    padding-left: 35px;
    background-color: #e47312;
    top: 26px;
    z-index: 1;
}
#logo {
    width: 90px;
    display: flex;
    padding-top: 45px;
    align-items: center;
}
.home-color {
    color: #e47312;
}
.dropicon {
    width: 6px;
    margin-left: 7px;
    color: #717177;
}
#dropdown-menu-items {
    position: relative;
    cursor: pointer;
}
#dropdown {
    box-shadow: 2px 2px 4px #ccc;
    width: 150px;
    height: 170px;
    padding: 24px;
    box-sizing: border-box;
    position: absolute;
    background-color: #fff;
    right: 10;
    top: 84px;
    display: none;
    cursor: pointer;
}
#dropdown-menu-items:hover #dropdown {
    display: block;
}
#dropdown > a {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}
#dropdown:hover {
    display: block;
}
  
.dropdown-link {
    color: #717177;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.dropdown-link:hover {
    background-color: #f1f1f7;
    color: #e47312;
    width: 100%;
}
.info-wrapper {
    height: 100%;
    margin-left: 20px;
    padding: 34px 28px 31px;
    background-color: #e47312;
    border: 0;
    transition: all 300ms ease;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
.info-wrapper:hover {
    background-color: #e98a38;
    display: inline-block;
}
.top-title {
    color: #fff;
    font-size: 62px;
    font-weight: 900;
    line-height: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    top: 170px;
}
.paragraph-white {
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    position: relative;
    top: 170px;
}
  .paragraph-white.bigger {
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
}
.paragraph-white.bigger.normal {
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
}
.button {
    min-width: 160px;
    padding: 15px 25px;
    transition: all 300ms ease;
    color: #fff;
    background-color: #e47312;
    border: 0;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    top: 200px;
    cursor: pointer;
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
}
.button:hover {
    background-color: #e98a38;
}
.social-vertical {
    padding: 10px;
    background-color: #0a1229;
    display: flex;
    flex-direction: column;
    width: 30px;
    position: absolute;
    right: 0;
    bottom: 143px;
    align-items: center;
}
.social-icon {
    width: 40px;
    height: 50px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info-wrap {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.features-wrapper {
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: -83px;
    display: flex;
    width: 900px;
    padding: 15px 100px 5px 50px;
    background-color: #e47312;
    background-image: linear-gradient(186deg, #e47312, #ff6361);
}
.info-section {
    display: flex;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: flex-start;
    z-index: 1;
}
.info-image {
    width: 24px;
    margin-bottom: 15px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.phone-text {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}
.paragraph-info-white {
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 17px;
    line-height: 25px;
    font-family: Dosis, sans-serif;
    margin-top: 0;
}
.for-button {
    position: relative;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    font-weight: 600;
    text-decoration: none;
    max-width: 100%;
    display: inline-block;
}
.for-button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: transparent;
    transition: 0.2s;
  }
  .for-button:hover::after {
    background-color: white;
  }
  .contact-info-wrap {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .Services-part {
    padding-top: 15%;
    padding-bottom: 5%;
  }
  .section-upper {
    padding: 10% 5%;
  }
  
  .services-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .title-item {
    position: relative;
    display: flex;
    margin-bottom: 7%;
    justify-content: space-between;
    align-items: center;
  }
  
  .services-top-title {
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .background-title {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 50px;
    text-transform: uppercase;
    position: absolute;
    left: -53px;
    top: -26px;
    z-index: 1;
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    letter-spacing: 11px;
  }
  .services-button {
    margin-top: 0px;
    position: relative;
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    overflow: hidden;
    font-weight: 600;
    text-decoration: none;
    max-width: 100%;
    display: inline-block;
    box-sizing: border-box;
  }
  .services-button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: hsla(0, 0%, 100%, 0.3);
    transition: 0.2s;
  }
  .services-button:hover::after {
    background-color: #e47312;
  }
  
  .services-item-wrapper {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 15px; */
  }
  .services-item {
    width: 25%;
    position: relative;
    padding-left: 10px;
    margin-bottom: 5%;
    padding-right: 5%;
  }
  .steps-wrapper-icon {
    margin-bottom: 20px;
  }
  .service-title {
    margin-top: 0px;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  p{
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
  }
  
  .services-item-button {
    color: #919198;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    overflow: hidden;
    max-width: 100%;
    display: inline-block;
    position: relative;
    text-decoration: none;
  }
  .services-item-button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: hsla(0, 0%, 100%, 0.3);
    transition: 0.2s;
  }
  .services-item-button:hover::after {
    background-color: #e47312;
  }
  .about-item-wrapper {
    display: flex;
    margin-top: 10%;
    margin-left: -10px;
    margin-right: -10px;
  }
  
  .left-about-section {
    position: relative;
    width: 50%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .about-image {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  .right-about-section {
    position: relative;
    width: 50%;
    min-height: 1px;
    padding-left: 110px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  .right-about-section-title {
    position: relative;
    display: flex;
    margin-bottom: 7%;
    justify-content: space-between;
    align-items: center;
  }
  p {
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
  }
  .number-box {
    margin-left: -60px;
    margin-right: -10px;
    margin-top: 5%;
  
    display: flex;
  }
  .number {
    padding-left: 5%;
    padding-right: 5%;
  }
  .fun-text {
    margin-bottom: 10px;
    color: #e47312;
    font-size: 60px;
    line-height: 70px;
    font-weight: 500;
  }
  .number > p {
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
  }
  .our-work {
    padding: 9% 0% 20px 20px;
    background-color: #f7f8fc;
    box-sizing: border-box;
  }
  .work-header {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    margin-bottom: 7%;
    justify-content: space-between;
    align-items: center;
  }
  .project-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .projects {
    padding-top: 20px;
    padding-right: 20px;
    width: 33.33333333%;
    
    min-height: 2px;
    box-sizing: border-box;
  }
  .projects-img {
    max-width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  .projectimg {
    max-width: 100%;
    vertical-align: middle;
  }
  
  .overlay-img {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.2s;
    opacity: 0;
  }
  .overlay-data {
    display: flex;
    width: 90px;
    height: 90px;
    padding-right: 11px;
    padding-left: 11px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-image: linear-gradient(59deg, #ff6361, #e47312); 
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    /* /* text-decoration: none; */
     text-transform: uppercase;  
  }
  .projects-img:hover .overlay-img {
    opacity: 1;
  }

.get-quote{
    max-width: 1200px;
 
}
.section-color{
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #e47312;
    background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)), url(https://nuuk-e3eaa.firebaseapp.com/assets/img/banner-2.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
    
}
.quote-wrapper {
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .quote-heading {
    color: #fff;
  }
  .quote-paragraph {
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
  }
  .get-quote-button {
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    margin-top: 45px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    max-width: 100%;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
  }
  .get-quote-button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: transparent;
    transition: 0.2s;
  }
  .get-quote-button:hover::after {
    background-color: white;
  }


  .our-teams {
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 5% 2%;
  }
  .team-wrapper {
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  .team-pic {
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .team-content {
    padding: 29px 66px 29px 29px;
    background-color: #fff;
  }
  .team-content>h1 {
    line-height: 20px;
    margin-top: 0px;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .team-content>p {
    margin-bottom: 0px;
    color: #bdbdc9;
    font-size: 16px;
  }
  .team-box-social-parent {
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    background-color: #e47312;
  }
  .team-box-social {
    display: flex;
    width: 40px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
    max-width: 100%;
  }
 
  #pic1{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-1.jpg);

  }

  #pic2{
    background-image:url('https://nuuk-e3eaa.firebaseapp.com/assets/img/team-2.jpg');
  }
  #pic3{
    background-image:url('https://nuuk-e3eaa.firebaseapp.com/assets/img/team-3.jpg');
  }
  
  #pic4{
    background-image:url('https://nuuk-e3eaa.firebaseapp.com/assets/img/team-4.jpg');
  }
  .our-clients {
    display: flex;

    margin-left: -10px;
    margin-right: -10px;
    align-items: center;
    padding:15% 5%;
  }
  .left-side-client {
    width: 41.66666667%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .testimonial-wrapper {
    padding-right: 100px;
    padding-left: 0px;
  }
  
  .testimonial-title-content {
    margin-top: 25px;
  }
  .right-side-client {
    display: flex;
    width: 58.33333333%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  .left-review {
    padding-left: 0;
    padding-right: 0;
    width: 50%;
    position: relative;
    min-height: 1px;
  }
  .left-review-first {
    position: relative;
    display: block;
    width: 90%;
    margin: 50px auto  61px;
    padding: 80px 0px 30px 26px;
    background-color: #fff;
    text-align: center;

  }
  .testi-pic {
    position: relative;
    display: flex;
    width: 60px;
    height: 60px;
    margin: -115px auto 25px;
    justify-content: center;
    align-items: stretch;
    border-radius: 100%;
    background-image: linear-gradient(8deg, #ff6361, #e47312);
    opacity: 1;
    color: #fff;
    font-size: 80px;
    line-height: 80px;
  }
  .img-replace {
    padding-top: 12px;
  }
  .test-title {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .proffession {
    margin-bottom: 0px;
    color: #bdbdc9;
    font-size: 16px;
  }
  .testi-paragraph {
    margin-top: 15px;
    margin-bottom: 0px;
    color: #919197;
  }
  .nomargin {
    margin-bottom: 0px;
  }
  .testi-margin-one {
    margin-top: -10px;
  }